
:root{
    --main-bg-color: #F7E8EC;
    --main-txt-color: #442946;
    --footer-bg-color: #2F2A2F;
    --body-font: 20px;
    --btn-txt-color: white;
    --grid-bg-color: rgb(248, 246, 246);
    --highlight-txt-color: rgb(36, 145, 121);
    --main-grid-bg-color: #f8f1f3;
    --txt-deco-color:  #8e44ad;
    --box-shadow-color: rgba(26, 25, 25, 0.5);
    --btn-bg-color:  rgb(248, 246, 246);
    --form-bg-color: white;
    --form-text-color: #442946;
}
/* removes the horizontal scroll issue on larger screen but not mobile version */
*{
    max-width: 100%;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: 'Quicksand', sans-serif;
}
.dark-theme{
    --main-bg-color: #121212;
    --main-txt-color: #eaeaea;
    --footer-bg-color: #2F2A2F;
    --btn-txt-color: #eaeaea;
    --grid-bg-color:#313131;
    --main-grid-bg-color: #f8f1f3;
    --txt-deco-color:  #8e44ad;
    --box-shadow-color: rgb(15, 15, 15);
    /* --btn-bg-color: #2F2A2F; */
    --btn-bg-color: #ffbd39;
    --form-bg-color: #2F2A2F;
    --form-text-color: #eaeaea;
    
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--txt-deco-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--main-txt-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--txt-deco-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
}
.navbar{
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5); 
}
.nav-link{
    font-size: 18px;
    color: var(--main-txt-color) !important;
}
/* could it be this padding causing the horizantal scroll? */
.navbar-collapse ul li a{
    padding: 7px 20px !important;
    transition: 0.6s ease;
    border-radius: 15px;
}
.navbar-collapse ul li a:hover{
    background-image: url("one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    color: var(--btn-txt-color) !important;
    text-shadow: 2px 2px 0px rgba(26, 25, 25, 0.5);
}
#toggle-notice{
    color: var(--main-txt-color) !important;
}
.hero{
    position: relative;
   
}
.squiggle{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--txt-deco-color);
}
.icon-div{
    position: relative;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -1px;
    
}
.my-icon{
    width: 100%;
    height: auto;
}
.welcome-txt{
    margin: 0 auto 60px;
    color: inherit;
    max-width: 950px;
    width: 90%;
    text-align: center; 
    margin-top: 200px;
    color: var(--main-txt-color);
   
}
.highlight{
    font-size: 150%;
    margin: 15px auto;
    width: 85%;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 1.5;
    word-spacing: 0.2em;
    letter-spacing: 0.6px;
    -webkit-animation: .5s enterUp ease-in-out forwards;
    animation: .5s enterUp ease-in-out forwards;
    width: 90%;
}
.welcome-txt p{
    font-size: 130%;
    font-weight: 550;
    color: var(--body-txt-color);
    padding-top: 10px;
}

#bio{
    height: 50vh;
}
.bio-paragraph{
    width: 70%;
    margin: auto;
    word-spacing: 0.4em;
    font-size: 20px;
}
@media only screen and (max-width: 780px){
    .icon-div{
        width: 80%;
    }
    .welcome-txt{
        max-width: 550px;
        text-align: center;
        margin: 0 auto 75px;
        width: 98%;
        /* top: 56%; */
    }
    h1{
        font-size: 35px;
        width: auto;
        
    }
    .bio-paragraph{
        width: 98%;
        margin: auto;
    }
    .hero{
        margin: 190px 0px 0;
        background: 0 0;
        background-size: cover;
    }
}

.grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2.5em;
}
.project{
    background-color: var(--grid-bg-color);
    border-color: var(--main-bg-color);
    box-shadow: 2px 2px 6px 1px var(--box-shadow-color);
    border-radius: 5px;
}
.grid2-img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}
.titles{
    font-family: 'Changa', sans-serif;
    font-size: 2.5rem;
    background-image: url("one.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    height: 13vh;
    
}
.get-in-touch{
    width:70%;
    margin: auto;
    text-align: center;
}
.hire-notification{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("star.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
}
.hire-notification h3{
    color:  #eaeaea;
}
.social-media ul li{
    display: inline-block;
    padding: 5px 10px;
}
.all{
    text-align: center;
    color: var(--main-bg-color);
}
.all .main-btn a{
    text-decoration: none;
    color: var(--btn-txt-color);
}
.all h3{
    font-size: 2rem;
}
.main-btn{
    border-radius: 15px;
    padding: 10px 10px;
    width: 120px;
    background-image: url("one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    text-align: center;
    color: var(--btn-txt-color);
    border: none;
}

.grid2-btn{
    padding: 4px 15px;
    margin-bottom: 24px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    width: 40%;
    background-color: var(--btn-bg-color);
    border: none;
    box-shadow: 2px 2px 5px var(--box-shadow-color);
}
.grid2-btn:hover{
    background-image: url("one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    text-align: center;
    color: var(--btn-txt-color);
}
.grid2-heading{
    margin-top: 7px;
    padding: 2px 16px;
}
.grid2-paragraph{
    padding: 2px 13px;
    margin-left: 6px;
}
.grid3-img{
    height:auto;
    border-radius: 50%;
}

.grid3-btn{
    padding: 6px 18px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px var(--box-shadow-color);
    background-color: var(--btn-bg-color);
}
.grid3-btn:hover{
    background-image: url("one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    text-align: center;
    color: var(--btn-txt-color);
}
.grid3-heading{
    padding: 5px 2px;
}
.grid3-paragraph{
    padding: 5px 2px;
}
.form-control{
    background-color: var(--form-bg-color);
    color: var(--form-txt-color);
    border: none;
}
.blogs-box, .contact-box, .project-box, .hire-notification, .bio-box, footer{
    margin-top: 100px;
}
footer{
    height: 10vh;
    background-color: var(--footer-bg-color);
    color: var(--btn-txt-color);
}
