
:root{
    --main-bg-color: #F7E8EC;
    --main-txt-color: #2F2A2F;
    --body-font: 20px;
    --btn-txt-color: white;
    --grid-bg-color: rgb(248, 246, 246);
    --highlight-txt-color: rgb(36, 145, 121);
    --main-grid-bg-color: #f8f1f3;
}

body{
    background-color: var(--main-bg-color);
    color: var(--body-primary-txt-color);
    font-family: 'Quicksand', sans-serif;
    
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--btn-txt-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--main-txt-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--main-txt-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .navbar{
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5); 
  }
.nav-link{
    font-size: 18px;
    color: var(--main-txt-color) !important;
}
.navbar-collapse ul li a{
    padding: 7px 20px !important;
    transition: 0.6s ease;
    border-radius: 15px;
}
.navbar-collapse ul li a:hover{
    background-image: url("one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    color: var(--btn-txt-color) !important;
    text-shadow: 2px 2px 0px rgba(26, 25, 25, 0.5);
}
header{
    position: relative;
    width: 100%;
    height: 98vh;
}

.welcome-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin: auto;
    color: var(--main-txt-color);
   
}
.highlight{
    font-size: 150%;
   
}
h1{
    font-size: 430%;
    background-image: url("one.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Changa', sans-serif;
    line-height: 1.5em;
    word-spacing: 0.2em;
    letter-spacing: 0.6px;
    font-weight: 900;
    
}
.welcome-txt p{
    font-size: 130%;
    font-weight: 550;
    color: var(--body-txt-color);
    padding-top: 10px;
}

#bio{
    height: 50vh;
}
.bio-paragraph{
    width: 70%;
    margin: auto;
    word-spacing: 0.4em;
    font-size: 20px;
}
@media only screen and (max-width: 780px){
    .welcome-txt{
        width: 98%;
        top: 56%;
        margin: auto;
    }
    h1{
        font-size: 300%;
        
    }
    .bio-paragraph{
        width: 98%;
        margin: auto;
    }
}

.grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2.5em;
}
.project{
    background-color: var(--grid-bg-color);
    border-color: var(--main-bg-color);
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.grid2-img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}
.titles{
    font-family: 'Changa', sans-serif;
    font-size: 2.5rem;
    background-image: url("one.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    height: 13vh;
    
}
.get-in-touch{
    width:70%;
    margin: auto;
    text-align: center;
}
.hire-notification{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("star.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
}
.social-media ul li{
    display: inline-block;
    padding: 5px 5px;
}
.all{
    text-align: center;
    color: var(--main-bg-color);
}
.all .main-btn a{
    text-decoration: none;
    color: var(--btn-txt-color);
}
.all h3{
    font-size: 2rem;
}
.main-btn{
    border-radius: 15px;
    padding: 10px 10px;
    width: 120px;
    background-image: url("one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    text-align: center;
    color: var(--btn-txt-color);
    border: 0.3px solid var(--main-bg-color); 
}

.grid2-btn{
    padding: 4px 15px;
    margin-bottom: 24px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    width: 40%;
    border: 1px solid var(--main-bg-color);
    box-shadow: 2px 2px 5px rgba(26, 25, 25, 0.5);
}
.grid2-btn:hover{
    background-image: url("one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    text-align: center;
    color: var(--btn-txt-color);
    border: 1px solid var(--main-bg-color); 
}
.grid2-heading{
    margin-top: 7px;
    padding: 2px 16px;
}
.grid2-paragraph{
    padding: 2px 13px;
    margin-left: 6px;
}
.grid3-img{
    height:auto;
    border-radius: 50%;
}

.grid3-btn{
    padding: 6px 18px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid var(--main-bg-color);
    box-shadow: 2px 2px 5px rgba(26, 25, 25, 0.5);
}
.grid3-btn:hover{
    background-image: url("one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    text-align: center;
    color: var(--btn-txt-color);
    border: 1px solid var(--main-bg-color); 
}
.grid3-heading{
    padding: 5px 2px;
}
.grid3-paragraph{
    padding: 5px 2px;
}
footer{
    height: 10vh;
    background-color: var(--main-txt-color);
    color: var(--btn-txt-color);
}
